<div class="container-custom col-12 col-lg-6 mx-auto my-5">
  <div class="p-4">
    <h2 class="text-center">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'registration-form' }) do |f| %>

      <div class="field mb-4">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

      <div class="field mb-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field mb-4">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field mb-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions d-flex justify-content-between">
        <%= f.submit "Sign up", class: "btn btn-primary", id: "signup-button" %>
        <%= link_to "Volver a inicio", root_path, class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.getElementById('registration-form').addEventListener('submit', function(event) {
    var nameField = document.getElementById('user_name');
    var emailField = document.getElementById('user_email');
    var passwordField = document.getElementById('user_password');
    var passwordConfirmationField = document.getElementById('user_password_confirmation');

    if (nameField.value === '' || emailField.value === '' || passwordField.value === '' || passwordConfirmationField.value === '') {
      event.preventDefault();
      Swal.fire({
        icon: 'warning',
        title: 'Por favor, complete todos los campos para registrarse.',
      });
    }
  });
</script>
