<div class="container">

  <div id="<%= dom_id article %>" class="row justify-content-center">
    <div class="card col-md-6 col-12 container-custom mb-4">
      <div class="card-body">
        <h6 class="mb-1">Titulo</h6>
        <h4 class="card-title mb-0"><%= article.title %></h4>
        <p class="mb-0"><strong><%= article.user.name %></strong></p>
        <pre><%= article.created_at.strftime("%d/%m/%Y %H:%M") %></pre>
        <p class="card-text mb-4"><%= article.content %></p>
        <hr class="my-4">
        <h5 class="mb-1">Comentarios</h5>
        <div class="d-flex flex-column">
          <% article.comments.reverse_each do |comment| %>
            <div class="d-flex flex-column mb-2">
            <div class="d-flex mb-1">
              <h6><%= comment.user.name %></h6> <pre> <%= comment.created_at.strftime("%d/%m/%Y %H:%M") %></pre>
            </div>
              <p><%= comment.content %></p>
            </div>
          <% end %>
        </div>

        <hr class="my-4">
        <%# CREAR COMENTARIOS %>
        <h6 class="mb-2">Agregar Comentario</h6>
        <%= form_with(model: Comment.new, url: article_comments_path(article_id: article.id), class: "mb-4", remote: true) do |form| %>
       <div class="d-flex form-row align-items-top gap-2">
          <div class="flex-grow-1">
            <div>
              <%= form.text_area :content, class: "form-control", placeholder: "Escribe tu comentario..." %>
            </div>
          </div>
          <div class="ml-auto">
            <%= form.submit "Enviar", class: "btn btn-primary" %>
          </div>
        </div>
        <% end %>

        <div class="d-flex gap-2">

          <% if current_user && current_user.id == article.user_id %>
            <% if controller_name != "articles" || action_name != "show" %>
              <%= link_to "Ver artículo completo", article_path(article), class: "btn btn-primary" %>
            <% end %>
          <% end %>

          <% if controller_name == "articles" && action_name == "show" %>
            <div class="d-flex gap-2">
              <%= link_to "Volver", articles_path, class: "btn btn-outline-secondary" %>
              <% if current_user == @article.user %>
                <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-secondary" %>
                <%= button_to "Destroy this article", @article, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" }, form: { action: article_path(@article), method: :delete } %>
              <% end %>
            </div>
          <% end %>

  </div>



      </div>
    </div>
  </div>
</div>
